.chores { 
    color: rgb(6, 6, 102);
  
    font-size: 12px;
    border-left: 1px solid green;
    height: 500px;
}
h3{
     font-size: 12;
     text-decoration: underline;
    font-style: italic;
     text-align: center;
}
